.mob-h1,
.mob-h3 {
    color: white;
    text-transform: uppercase;
}

.mob-h1 {
    font-size: 60px;
}

.mob-h3 {
    font-size: 40px;
}

.mob-h4 {
    font-size: 25px;
    color: #4798d9;
}

.mob-h3 span {
    color: #4798d9;
}

